In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# Visit Website
url = "https://redplanetscience.com/"
browser.visit(url)
    
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

# Get the latest title 
news_title = soup.find_all('div', class_='content_title')[0].text
    
# Get the latest news paragraph 
news_p = soup.find_all('div', class_='article_teaser_body')[0].text
    
print(news_title)
print(news_p)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Get LATEST driver version for 91.0.4472
Trying to download new driver from https://chromedriver.storage.googleapis.com/91.0.4472.101/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\natha\.wdm\drivers\chromedriver\win32\91.0.4472.101]

NASA's Mars 2020 Will Hunt for Microscopic Fossils
A new paper identifies a ring of minerals at the rover's landing site that are ideal for fossilizing microbial life.

In [3]:
#https://spaceimages-mars.com/image/featured/mars1.jpg

In [13]:
# Visit JPL Featured Space Image url through splinter module
url_spaceimage = "https://spaceimages-mars.com/"
browser.visit(url_spaceimage)

In [ ]:
browser.find_by_text(' FULL IMAGE').click()

In [23]:
# HTML Object
img_html = browser.html
img_soup = bs(img_html, "html.parser")

In [27]:
featured_image=img_soup.find('img', class_='fancybox-image')['src']
featured_image_url=f'https://spaceimages-mars.com/{featured_image}'
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

In [7]:
# Find image url to the full size
featured_image = img_soup.find("article")["style"].replace('background-image: url(','').replace(');', '')[1:-1]

# Display url of the full image
featured_image_url = f"https://www.jpl.nasa.gov{featured_image}"
print(featured_image_url)

TypeError: 'NoneType' object is not subscriptable

In [10]:
featured_image

NameError: name 'featured_image' is not defined

In [ ]:
#Mars Facts

In [32]:
url= "https://galaxyfacts-mars.com/"

mars_facts = pd.read_html(url)
len(mars_facts)
mars_facts[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [34]:
mars_df = mars_facts[1]

# Create Data Frame
mars_df.columns = ["Description", "Mars"]

# Set index to Description
mars_df.set_index("Description", inplace=True)

# Print Data Frame
mars_df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [ ]:
# Mars Hemispheres